<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="converterQuestion" class="ru.otus.questionnaire.convertor.ConverterListArrayStringToListQuestion"/>
    <bean id="questionnaireDAO" class="ru.otus.questionnaire.dao.QuestionNotesDAO">
        <constructor-arg name="converter" ref="converterQuestion"/>
        <constructor-arg name="name" value="quest.csv"/>
    </bean>
    <bean id="questionService" class="ru.otus.questionnaire.service.QuestionnaireServiceImpl">
        <constructor-arg name="questionNotes" ref="questionnaireDAO"/>
    </bean>
</beans>